body{
    background-image: url('https://static.vecteezy.com/packs/media/components/global/search-explore-nav/img/vectors/term-bg-1-666de2d941529c25aa511dc18d727160.jpg');
    background-repeat: no-repeat, repeat;
    background-size:cover;

}